label {
    color: #000000;
    padding: 1rem 0;
    font-size: 3.5vh;
    text-align: right;
    top: -70vh;
    right: 0vw;
    align-items: center;
    position: absolute;
    text-align: right;
    font-weight: bold;
    /* -webkit-appearance: none; */
    height: 2vh;
    margin: 1rem;
    /* transform: translateY(-89.5vh) translateY(-0.5px) translateX(-28px) translateX(28vw); */
    text-shadow: -2px -2px 0 #999, -2px -2px 0 #999, -2px -2px 0 #999, -2px -2px 0 #999;
    /* margin-right: 1rem; */
    /* outline: #100; */
}


/* input box */

.range__amount {
    position: absolute;
    /* transform: translateY(-91vh) translateX(-40px) translateX(40vw); */
    top: -60vh;
    right: 0vw;
    height: 1vh;
    width: 15vw;
    padding: 1rem 0;
    /* margin: 2rem; */
    background-color: rgb(212, 217, 230);
    outline: #100;
    /* -webkit-appearance: none; */
    text-align: center;
    align-items: center;
    font-size: 3vh;
    border-radius: 25px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.tick {
    text-align: center;
    color: #100;
    font-weight: bold;
    text-shadow: -1px -1px 0 #999, -1px -1px 0 #999, -1px -1px 0 #999, -1px -1px 0 #999;
}

.sliderticks {
    display: flex;
    justify-content: space-between;
}

.sliderticks p {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    background: #D3D3D3;
    height: 10px;
    line-height: 40px;
    margin: 0 0 20px 0;
}

.value {
    text-align: center;
    font-weight: bold;
    color: #100;
    font-size: 1.3rem;
}

.slider {
    position: relative;
    align-items: flex-end;
    width: 100vw;
    padding-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    /* transition: padding-top; */
}

.slider input[type=range] {
    width: 100%;
    padding: 40px 0;
    background: transparent;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    text-align: center;
}

.slider input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: #f0ede6;
    border-radius: 25px;
    margin-bottom: 6rem;
}

.slider input[type=range]::-webkit-slider-thumb {
    width: 0px;
    height: 0px;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-bottom: 22px solid #15208a;
    border-top: 0px transparent;
    margin-top: 1.35rem;
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
    transform: translateX();
}

.slider>div {
    position: absolute;
    z-index: 1000;
    top: 0;
    color: black;
    font-weight: bold;
    text-shadow: -1px -1px 0 #999, -1px -1px 0 #999, -1px -1px 0 #999, -1px -1px 0 #999;
    transition: 0.5s ease-in-out;
    line-height: 98%;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: flex-end;
    font-family: "Helvetica", sans-serif;
    background-repeat: no-repeat;
    background-size: 100vw;
    color: #fff;
    overflow: hidden;
    overflow: hidden;
    /*  hide scrollbars */
    opacity: 1;
    -webkit-transition: background 1.5s linear;
    -moz-transition: background 1.5s linear;
    -o-transition: background 1.5s linear;
    -ms-transition: background 1.5s linear;
    transition: background 1.5s linear;
}

body .disable-dbl-tap-zoom {
    touch-action: manipulation;
}

background-image {
    transition: opacity 4000ms;
    will-change: opacity;
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    max-width: none !important;
    max-height: none !important;
    display: block !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

background-image.faded-out {
    opacity: 0;
}

.__range input {
    outline: none;
    -webkit-appearance: none;
    width: 100%;
    margin: 10px auto;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #a4b162;
}

.__range-step {
    position: relative;
}

.__range-max {
    float: right;
}

.slider datalist {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: auto;
    bottom: 26px;
    /* disable text selection */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    /* disable click events */
    pointer-events: none;
}

.__range-step datalist option {
    width: 10px;
    line-height: 40px;
}

.__range {
    margin: 10px 40px;
}

.range-slider__points span {
    cursor: pointer;
    margin-left: 0px;
    margin-top: 55px;
    min-width: 1px;
    position: absolute;
}

.dot {
    height: 18px;
    width: 18px;
    background-color: rgb(212, 217, 230);
    border-radius: 50%;
    display: block;
    z-index: -1;
    border: 2px solid #000000;
}